[Unit]
Description=See when you run, on Strava
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/go-server

[Install]
WantedBy=multi-user.target
