.gradle
**/build/
**/out/
**/target/

bazel-*
node_modules/
.ijwb/

*.jar
!gradle-wrapper.jar
*.war
*.ear

hs_err_pid*

# IntelliJ project files
.idea
*.iml
*.iws
*.ipr

# Vertx's cache
.vertx

# H2 database files
*.db
